In [4]:
import pandas as pd
df=pd.read_csv('Data/Real-Data/titanic.csv')

df.drop(['Passengerid','sibsp','zero','zero.1','zero.2','zero.3', 'zero.4','zero.5','zero.6','zero.7','zero.8','zero.9','zero.10','zero.11','zero.12','zero.13','zero.14','zero.15','zero.16','Embarked','zero.17','zero.18','Parch'],axis='columns',inplace=True)

In [13]:
df.head()

    Age     Fare  Sex  Pclass  survived
0  22.0   7.2500    0       3         0
1  38.0  71.2833    1       1         1
2  26.0   7.9250    1       3         1
3  35.0  53.1000    1       1         1
4  35.0   8.0500    0       3         0

In [85]:
#def st(df['sex']):
    #for x in df.sex
       #if x=0:
        #return Male
       #else:
        #return Female
    
#df['size']=df6['size'].apply(lambda x : 'Male' if x=0 else 'Female')

In [14]:
X=df.drop('survived',axis='columns')

In [15]:
y=df.survived

In [37]:
#x.head(3)

In [30]:
#x.isnull().sum()

Age       0
Fare      0
Sex       0
Pclass    0
dtype: int64

In [16]:
X.columns[X.isna().any()]

Index([], dtype='object')

In [17]:
#x.Age[:10]
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.1)
X_train.shape

(1178, 4)

In [19]:
models = []
#models.append(('LR',LinearRegression()))
models.append(('LOR', LogisticRegression(solver='liblinear', multi_class='ovr')))
#models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('CART', DecisionTreeClassifier()))
models.append(('NB', GaussianNB()))
models.append(('SVM', SVC(gamma='auto')))
results = []
names = []
for name, model in models:
    kfold = StratifiedKFold(n_splits=10, random_state=1, shuffle=True)
    cv_results = cross_val_score(model, X_train, y_train, cv=kfold, scoring='accuracy')
    results.append(cv_results)
    names.append(name)
    print('%s: %f ' % (name, cv_results.mean()))

LOR: 0.786079
KNN: 0.713921
CART: 0.741931
NB: 0.762335
SVM: 0.736861

In [104]:
model=linear_model.LogisticRegression()

In [110]:
model.fit(X_train,y_train)
model.score(X_train,y_train)

0.7860780984719864

In [71]:
len(X_test)
len(X_train)

1178

In [108]:
y_pred=model.predict(X_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0])

In [109]:
print(accuracy_score(y_test,y_pred))

0.7480916030534351

In [35]:
import tensorflow as tf
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Conv2D, MaxPool2D

In [1]:
# building a linear stack of layers with the sequential model
#model = Sequential()
# hidden layer
#model.add(Dense(100, input_shape=(4,), activation='relu'))
# output layer
#model.add(Dense(2, activation='softmax'))
#import time
#s=time.time()
# compiling the sequential model
#model.compile(loss='categorical_crossentropy', metrics=['accuracy'], optimizer='adam')
# training the model for 10 epochy
#model.fit(X_train, y_train, batch_size=128, epochs=1, validation_data=(X_test, y_test))
#print(str(time.time()-s)+' sec')